@import url('./styles/reset.css');
@import url('./styles/variables.css');
@import url('./styles/elemets.css');

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  text-align: center;
}

#root > .app {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow-x: hidden;
  background: var(--gradient-background2);
  overflow-y: scroll

}

#root > .app > .top {
  height: 120px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: fixed;
  z-index: 5;
  left: 0;
  background-color: var(--background-color-25);
  backdrop-filter: blur(30px);
}

#root > .app > main {
  height: 100%;
  width: 1000px;
  padding: 20px;
  padding-top: 170px;
  padding-bottom: 100px;
  box-shadow: 1px 1px 50px rgba(128, 128, 128, 0.24);
  background-color: rgba(128, 128, 128, 0.057);
}

@media (max-width: 1200px) {
  
  #root > .app > .top {
    height: 150px;
    flex-direction: column;
    position: absolute;
  }
  
  #root > .app > main {
    width: auto;
  }
}
