
.mintcollection {
    width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mintcollection > .signed {
    width: 80%;
}

.mintcollection > .signed > .collmeta {
    height: 500px;
    width: 100%;
}

.mintcollection > .signed > .collnfts {
    height: 400px;
    width: 100%;
    display: flex;
    gap: 5px;
}

.mintcollection > .signed > .collnfts > .collnftmeta {
    height: 100%;
    width: 25%;
}

.mintcollection > .nometamask {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mintcollection > .nometamask > p {
    font-size: 1.3em;
    background-color: rgba(255, 255, 255, 0);
}

.mintcollection > .nometamask > .connectweb3 {
    width: auto;
    margin: 0;
    padding: 0;
}

.mintcollection > .nometamask > .connectweb3 > img {
    width: 100px;
    cursor: pointer;

    &:hover{
        opacity: 0.5;
        color: red;
    }

}
@media (max-width: 1200px) {
    .mintcollection {
        width: 100%;
    }
}
@media (max-width: 768px) {}