

.mintcollection {
    width: 600px;
    margin: auto;
    & > .signed {

        & > .collmeta {
            height: 600px;
            width: 100%;
            /* background-color: var(--background-color-50); */
        }
        & > .collnfts {
            height: 400px;
            width: 100%;
            display: flex;
            gap: 5px;
            & > .collnftmeta{
                height: 100%;
                width: 25%;
            }
        }
    }
    & h4{
        margin: auto;
    }
    & .mintcoll-btn {

    }
    & .nometamask {
        margin: auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        & p {
            font-size: 1.3em;
        }
        & .connectweb3 {
            width: auto;
            margin: 0;
            padding: 0;

            & img {
                width: 100px;

                &:hover{
                    opacity: 0.5;
                    color: red;
                }
            }
        }
    }
}