/* Styling for the Notfound page... */

.notfound {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    & > h2 {
        background-color: var(--background-color);
    }
    & > section {
        width: 500px;
    }
}