.toggletheme {
    height: 60px;
    width: 60px;
    margin-left: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
    top: 30px;
    z-index: 4;

    &:hover {
        box-shadow: 1px 1px 40px rgba(148, 148, 173, 0.438);
    }
}

.toggletheme>.tip {
    width: 160px;
    margin: 0;
    padding: 0;
    position: absolute;
    bottom: -50px;
    left: -26px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    color: rgba(63, 63, 63, 0.555);
    font-style: italic;
}

@media (max-width: 1200px) { 
    .toggletheme {
        height: 50px;
        width: 50px;
        margin-left: 100px;
    }
}
@media (max-width: 768px) {
    .toggletheme {
        height: 50px;
        width: 50px;
        margin-left: 20px;
    }
}