/* Styling for the Collection page... */

.collection {
    min-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    /* border: 2px solid grey; */

    & > h2 {
        background-color: bisque;
    }
    & > section {
        width: 100%;
        /* border: 2px solid blue; */
    }
}