/* Styling for the Home page... */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

    & > h2 {
        background-color: bisque;
    }
    & > section {
        width: 500px;
    }
}