

.mintcollection {
    width: 600px;
    margin: auto;
    & > .signed {

        & > .collmeta {
            height: 600px;
            width: 100%;
            border: 2px solid blue;
        }
        & > .collnfts {
            height: 400px;
            width: 100%;
            display: flex;
            gap: 5px;
            /* border: 2px solid red; */
    
            & > .collnftmeta{
                height: 100%;
                width: 25%;
                /* border: 2px solid red; */
            }
        }
    }
}