/* Styling for the Collection page... */

.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-size: contain;
    background-repeat: no-repeat;

    & > section {
        min-height: 250px;
        width: 100%;
        padding: 20px;
        display: flex;
        flex-direction: column;
        align-items: start;
        & > h2 {
            background-color: var(--background-color);
            font-size: 3em;
        }
        & > div {
            display: flex;
            flex-direction: column;
            align-items: start;

            & > .des {
                height: 200px;
                width: 900px;
                padding: 20px;
                font-size: 1.8em;
                display: flex;
                align-items: center;
                justify-content: end;

                background-color: var(--background-color);
            }
        }
    }
    & > .mint-meta {
        width: 500px;
    }
}