
nav {
    & > ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 20px;
        /* background-color: rgb(221, 221, 221); */

        & > li {

            & > a {
                text-decoration: none;
                font-size: 1.5em;
                color: var(--color);

                & :visited {
                    color: grey;
                }

                & :active {

                    color: grey;
                }
                &:hover {
                    border-bottom: 1px dotted black;
                }
            }
        }
    }
}