
nav {
    height: 100%;
    /* margin-left: 10px; */
    display: flex;
    align-items: end;
    & > ul {
        margin: 0;
        padding: 0;
        margin-left: 50px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: end;
        gap: 20px;
        /* background-color: rgb(221, 221, 221); */

        & > li {

            & > a {
                text-decoration: none;
                font-size: 1.5em;
                color: var(--color);

                &:visited {
                    color: var(--color);
                }

                &:active {

                    color: var(--color);
                }
                &:hover {
                    border-bottom: 1px dotted var(--color-border);
                }
            }
        }
    }
}