
nav {
    height: auto;
    display: flex;
    align-items: end;
}
nav > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 20px;
}
nav > ul > li {
    padding: 0;
    margin: 0;
}
ul > li > a {
    text-decoration: none;
    font-size: 1.5em;
    color: var(--color);
    &:visited {
        color: var(--color);
    }

    &:active {

        color: var(--color);
    }
    &:hover {
        border-bottom: 1px dotted var(--color-border);
    }
}
@media (max-width: 1200px) {
    nav {
        align-items: center;
    }
    header > h1 > span {
        visibility: hidden;
    }
}