/* Styling for the Home page... */

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.home > div > h4 {
    width: 100%;
    font-size: 1.4em;
    color: var(--color-sec);
}
.home > .home-bottom {
    width: 70%;
    display: flex;
    justify-content: center;
}
.home > .home-bottom > .home-right {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    & > h4 {
        width: 100%;
        padding-left: 10px;
        font-size: 1.4em;
        color: var(--color-sec);
    }
}
@media (max-width: 768px) {
    .home > .home-bottom {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .home > .home-bottom > .home-right {
        width: 100%;
        align-items: center;
        & > h4 {
            width: auto;
            padding-left: 10px;
            font-size: 1.4em;
            color: var(--color-sec);
        }
    }
}