

.modal {
    height: 100%;
    width: 100%;
    /* padding-top: 10%; */
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    /* background-color: var(--background-color-50);
    backdrop-filter: blur(2px); */
}