
header {
    width: 1000px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: end;
    position: relative;

    & .toggles {
        display: flex;
    }
}
header > h1 {
    line-height: 40px; 
    vertical-align: bottom;
    font-size: 4.6em;
    color: var(--color);
    font-family: var(--font-one);
    text-align: start;
    position: relative; 
    top: 0;
}
  
header > h1 > span {
    font-size: 0.6em;
    color: var(--color-sec);
    position: sticky;
    top: 60px; 
    display: inline-block;
    padding: 0 5px;
    background-color: var(--bg-color);
    z-index: 999;
    border: 2px solid red;
}

@media (max-width: 1200px) {
    header {
        width: 100%;
        border: 2px solid red;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    header > h1 {
        width: 100%;
        display: flex;
        justify-content: center;
        border: 1px solid yellow;
    }

    header > h1 > span {
        display: none;
    }
}
@media (max-width: 768px) {
    header {
        border: 2px solid rgb(0, 72, 255);
    }

    header > h1 {
        
    }

    header > h1 > span {

    }
}
@media (max-width: 480px) {
    header {
        border: 2px solid rgb(56, 190, 19);
    }

    header > h1 {
        
    }

    header > h1 > span {

    }
}