

header {
    width: 1000px;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: end;
    /* & > h1 {
      margin: 0;
      padding: 0;
      line-height: 50px; 
      vertical-align: bottom;
      font-size: 3.5em;
      color: var(--color)
    } */
    & > .toggles {
        display: flex;
    }
}