
header {
    width: 900px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;

    & .toggles {
        display: flex;
    }
}

header > .head-top {
    height: 70%;
    margin-bottom: 30px;
    display: flex;
    justify-content: start;
    align-items: end;
}

header > .head-top > h1 {
    line-height: 1px; 
    vertical-align: bottom;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 4.6em;
    color: var(--color);
    font-family: var(--font-one);
    position: relative; 
    display: flex;
    align-items: end; 
}
  
header > .head-top > h1 > span {
    font-size: 0.6em;
    color: var(--color-sec);
    position: relative;
    bottom: -10px;
    display: inline-block;
    /* padding: 0 5px; */
    background-color: var(--bg-color);
    /* z-index: 999; */
}

@media (max-width: 1200px) {
    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    header > .head-top > h1 {
        display: flex;
        justify-content: center;
    }

    header > .head-top > h1 > span {
        display: none;
    }
}
@media (max-width: 768px) {
    header > .head-top > h1 {
        font-size: 3.6em;
    }
}