/* Styling for the NFT page... */

.nft {
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    
}
.nft > section {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}
.nft > .section > img {
    width: 50%;
    box-shadow: 0 15px 60px rgb(88, 73, 61);
}
.nft > .section > .nft-info {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px;
}
.nft > .section > .nft-info > h4 {
    width: 100%;
    text-decoration: none;
}

@media (max-width: 1024px) {
    .nft > .section {
        flex-direction: column;
    }
    .nft > .section > img {
        width: 90%;
        margin: auto;
    }
    .nft > .section > .nft-info > h4 {
        width: auto;
        text-decoration: none;
        flex-direction: column;
    }
}