/* Container Styling */
.loading-container {
    height: 150px;
    width: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    & > .spinner {
      width: 100%;
      height: 100%;
      /* border: 30px solid rgba(130, 62, 62, 0.189);  */
      border-top: 20px solid rgba(241, 183, 183, 0.388); /* Blue color for animation */
      border-bottom: 20px solid rgb(255, 253, 205); /* Blue color for animation */
      border-right: 20px solid rgb(191, 239, 188); /* Blue color for animation */
      border-left: 20px solid rgb(173, 210, 237); /* Blue color for animation */
      border-radius: 50%;
      animation: spin 1s linear infinite, fade 2s infinite alternate;
      /* animation: fade 3s infinite alternate; */
    }
    
    & .loading-text {
      width: 500px;
      font-size: 1.5em;
      color: var(--color);
      font-family: Arial, sans-serif;
      animation: fade 1s infinite alternate;
      position: absolute;
    }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}