h1, h2, h3, h4, p, button, a {
    margin: 0;
    padding: 0;
    /* background-color: rgba(255, 0, 0, 0.237); */
    color: var(--color);
    font-family: var(--font-one);
}

h1 {
    line-height: 40px; 
    vertical-align: bottom;
    font-size: 4.6em;
    color: var(--color);
    font-family: var(--font-one);
    text-align: start;
    position: relative;
    top: 44px;
    & span {
        font-size: 0.6em;
        color: var(--color-sec);
    }
}

h2 {
    font-size: 1.8em;
}

h3 {
    width: 100%;
    padding: 5px;
    font-size: 1.5em;
    color: var(--color);
    background-color: var(--background-color-25);
    text-align: start;
}

h4 {
    width: 80px;
    border-bottom: 2px dotted var(--color);
    display: flex;
    gap: 3px;
    font-size: 1.2em;
    cursor: pointer;
    &:hover{
        color: var(--color-sec);
    }
}

p {
    font-size: 1em;
    text-align: start;
    color: var(--color)
}

button {
    padding: 10px;
    margin-left: 5px;
    border: 1px solid var(--color);
    border-top: 1px solid var(--color-border);
    border-left: 1px solid var(--color-border);
    background-color: var(--color-sec);
    color: var(--color);
    cursor: pointer;
    text-transform: uppercase;
    font-size: 1.4em;

    &:hover {
      background-color: var(--background-color2);
    }
}