

.listnft {
    height: 40px;
    width: 300px;
    /* border: 2px solid grey; */
    display: flex;
    justify-content: start;

    & > .list-wrap {
        width: 100%;
        /* border: 1px solid blue; */
        display: flex;
        gap: 10px;
        background-color: rgba(177, 160, 145, 0.123);
        font-size: 1.2em;

        input {
            width: 80px;
            border: 0;
            border-bottom: 1px solid grey;
            background-color: rgba(255, 255, 255, 0.217);
        }
        p {
            display: flex;
            align-items: center;
        }
        button {
            border: 0;
            background-color: rgba(255, 255, 255, 0.153);
            cursor: pointer;
        }
    }
}