

.listnft {
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: start;

    & > .list-wrap {
        width: 100%;
        display: flex;
        gap: 5px;
        /* border: 2px solid red; */
        input {
            width: 80px;
            border: 0;
            border-bottom: 1px solid var(--color-border);
            background-color: var(--background-color);
        }
        & h4{
            width: 38%;
        }
        & input{

        }
        & img {
      
        }
        /* h4 {
            border: 0;
            background-color: var(--background-color);
            cursor: pointer;
        } */
    }
}